body {
  font-family: Tahomma;
  background-color: #E4E4D0;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  font-size: 2em;
  color: #343a40;
  text-align: center;
  text-transform: uppercase;
}

nav {
  margin-bottom: 20px;
  text-align: center;
}

nav button,
.post-item button,
form button {
  background-color: #FF90BC;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

nav button:hover,
.post-item button:hover,
form button:hover {
  background-color: #E0AED0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.post-item {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #dee2e6;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* .post-item div {
  flex-grow: 1;
  margin-right: 20px;
} */

.post-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-item h3 {
  margin: 0;
  color: #343a40;
}

.post-item p {
  margin: 5px 0;
  color: #6c757d;
}

.post-form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
  border: 1px solid #dee2e6;
}

.form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #495057;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #f8f9fa;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #E4E4D0;
  outline: none;
  background-color: #ffffff;
}

textarea {
  height: 500px;
  resize: none;
}